<%= render "navbar" %>
<div class="main-content">
	<div class="maintitle">
		<h1>Set your rules<br/>Don't break<br/> the chain!</h1>
		<a href="#">Sign up now</a>
	</div>
	<h1 class="maintitle secondtitle">Make a commitment<br/> We help you through it. </h1>
	<%= image_tag "chain.png"%>
	
</div>

<div class="feature-content" id="features">
	<div><%= image_tag('icon_new_task.png')%><p>Create new tasks and get stats</p></div>
	<div><%= image_tag('icon_new_task.png')%><p>Receive notifications</p></div>
	<div><%= image_tag('icon_friends.png')%><p>Tell your friends</p></div>
	<div><%= image_tag('icon_tasks_premium.png')%><p>Unlimited tasks</p></div>
	<div><%= image_tag('icon_google_calendar_premium.png')%><p>Google Calendar integration</p></div>
	<div><%= image_tag('icon_speak_premium.png')%><p>Voice your tasks</p></div>
</div>

<div class="social-content" id="social">
	<h2>Vê o que os teus amigos estão a fazer, ou desafia-os!<br/>
	<span><%= fa_icon "facebook" %> </span>
		<span><%= fa_icon "twitter" %> </span>
		<span><%= fa_icon "google-plus" %> </span>
		<span><%= fa_icon "linkedin" %></span></h2>
	<%= image_tag "app.png"%>
</div>

<div class="contacts-content" id="contacts">
	<h2>Thanks for visiting and enjoy</h2>
	<br/>
		<br/>
			<br/>
				<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>
	<div>
		<h3>Contacts</h3>
		<p><%= fa_icon "envelope-alt" %> mail@timechain.com</p>
		<p><%= fa_icon "phone" %> +351 910 000 000</p>
		<p><%= fa_icon "map-marker" %> Braga, Portugal</p>
	</div>
	<div>
		<h3>Social</h3>
		<p><%= fa_icon "facebook" %> facebook.com/timechain</p>
		<p><%= fa_icon "twitter" %> twitter.com/timechain</p>
		<p><%= fa_icon "linkedin" %> linkedin.com/timechain</p>
	</div>
	<br/>
		<br/>
			<br/>
				<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>
	<div class="copyright">
		Copyright © The Abusement Park, 2013
	</div>
</div>

<%= render "footer" %>